.form {
  border: 1px solid black;
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.input {
  width: 200px;
  border: 1px solid grey;
  border-radius: 2px;
  margin-bottom: 10px;
}

.label {
  font-size: 36px;
}

button {
  width: 100px;
  background-color: #f8f8f8;
  border: 1px solid grey;
  border-radius: 2px;
  cursor: pointer;
}

button:hover {
  background-color: #2c2c77;
  color: #f8f8f8;
}
